body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-section {
    flex: 1;
    text-align: center;
    margin-top: 100px;
}

.image-section img {
    width: 100%;
    max-width: 400px;
}

.text-section {
    flex: 1;
    padding-left: 50px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.feature-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative; 
}

.icon-img {
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    margin-right: 15px; 
    background-color: #242424; 
    padding: 15px; 
    user-select: none;
    border-radius: 8px; 
}
.feature-block div {
    flex-grow: 1; 
}

.highlight-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.subtext {
    color: #a0aec0;
    font-size: 1.1rem;
    margin-top: 5px;
}


p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .image-section img {
        max-width: 100%;
    }

    .text-section {
        padding-left: 0;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    .feature-block {
        flex-direction: column;
        align-items: center;
    }

    .icon-img {
        margin-bottom: 10px;
    }
}
