body {
background: #673b3b;
}

A {
color: black;
}

.pills {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
  font-family: calibri;
  font-size: 65px;
}

.pills li {
  padding: 24px 0;
  position: relative;
  left: 2.5em;
  margin-bottom: 0.75em;
  margin-right: 3em;
  padding-left: 1em;
  background: #ffffff;
}

.pills li:before {
  padding: 24px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3em;
  left: -3em;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #471d1d;
  border-bottom-left-radius: 70em;
  border-top-left-radius: 70em;
  counter-increment: li;
  content: counter(li);
}